<!DOCTYPE html>
<head>
  <title>Go Template Examples</title>
  <script>
    window.addEventListener("load", function () {
      var submitter = document.getElementById("addLag");
      submitter.addEventListener("click", function() {
        var form = document.getElementById("lag");
        form.submit();
      });
      var forceElection = document.getElementById("forceElection");
      forceElection.addEventListener("click", function() {
        var form = document.getElementById("election");
        form.submit();
      }
    });
    </script>
  <style>
    background: #808080 
    </style>
</head>
<body>
  <form id="lag" method="POST" action="/lag">
     <label>
       Process Id: <input name="processId" type="number">
     </label>
     <label>
       Add lag: <input name="lag" type="number">
    </label>
    <button id="addLag">Add lag</button>
    </br>
  </form>
  <form id="election" method="POST" action="/election">
    <button id="forceElection">Force election</button>
  </form>
</body>
</html>
