<!DOCTYPE html>
<head>
  <title>Go Template Examples</title>
  <script>
    window.addEventListener("load", function () {
      var addLag = document.getElementById("lag");
      addLag.addEventListener("click", function() {
        var button = document.getElementById("submit");
        button.submit();
      });
      var forceElection = document.getElementById("election");
      forceElection.addEventListener("click", function() {
        var button = document.getElementById("submit");
        button.submit();
      })
      var splitNetwork = document.getElementById("split");
      splitNetwork.addEventListener("click", function() {
        var button = document.getElementById("splitNetwork");
        button.submit();
      })
    });
    </script>
  <style>
  </style>
<script src="http://d3js.org/d3.v3.js"></script>
</head>
<body>
<div>
{{range .}}
   Process Id: {{.Id}}<br>
   Current Epoch: {{.CurrentEpoch}}<br>
   Frequency: {{.Frequency}}<br>
   Frequency Epoch: {{.FrequencyEpoch}}<br>
   Last Vote Epoch: {{.LastVoteEpoch}}<br>
   Next Election: {{.NextElection.Format "2006-01-02 3:04"}}<br>
      <form id="lag" method="POST" action="/lag">
    <button name="{{.Id}}" id="submit">Add lag</button>
  </form>
  <form id="election" method="POST" action="/election">
    <button name="{{.Id}}" id="submit">Force election</button>
  </form>
  </div>
{{end}}
  <form id="split" method="POST" action="/network_split">
    <label for="left">Left:
      <input name="left" type="text" value="">
    </label>
    <br>
    <label for="right">Right:
      <input name="right" type="text" value="">
    </label>
    <br>
    <button id="splitNetwork">Split</button>
  </form>
</body>
</html>
