<!DOCTYPE html>
<head>
  <title>Go Template Examples</title>
  <script>
    window.addEventListener("load", function () {
      var process = document.getElementById("process");
      process.addEventListener("click", function() {
        var button = document.getElementById("addLag");
        button.submit();
      });
      process.addEventListener("click", function() {
        var button = document.getElementById("election");
        button.submit();
      }
    });
    </script>
  <style>

    input { margin: 0; }
    </style>
</head>
<body>
<div>
{{range .}}
   Process Id: {{.Id}}
   Current Epoch: {{.CurrentEpoch}}
   <form id="lag" method="POST" action="/lag">
    <button id="addLag" value="{{.Id}}">Add lag</button>
  </form>
  <form id="election" method="POST" action="/election">
    <input name="{{.Id}}" type="submit" value="Force election"></label><br>
    <button id="forceElection" value="{{.Id}}">Force election</button>
  </form>
  </div>
{{end}}
</body>
</html>
